#appcontent {
  margin: 8px !important;
  margin-left: calc(var(--sidebar-collapsed-width) + 16px) !important;
  border: var(--border-width) solid var(--border);
  border-radius: var(--rounding);
  padding: 8px;
  transition: margin-left 0.3s ease-in-out;
}
#appcontent:hover {
  color: var(--accent);
  border-color: var(--accent) !important;
}
#sidebar-box:hover + #appcontent {
  margin-left: calc(var(--sidebar-width) + 16px) !important;
}

#tabbrowser-tabbox::before {
  content: "main";
  background-color: var(--lwt-accent-color);
  position: absolute;
  margin: -20px 4px;
  padding: 0 4px;
  z-index: 9;
  font-size: 1.15em;
}

#appcontent:fullscreen,
#appcontent:-webkit-full-screen,
#appcontent:-moz-full-screen {
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
}
