:root {
  --sidebar-width: 600px;
  --sidebar-collapsed-width: 500px;
  --navbar-height: calc(32px + 8px + 8px); /* Height + top margin + bottom margin */
}

#sidebar-box {
  position: fixed !important;
  left: 0;
  top: calc(var(--navbar-height) + 20px); /* Account for navbar height and its top margin */
  bottom: 0;
  z-index: 1000;
  margin: 0 0 8px 8px;
  border: var(--border-width) solid var(--border);
  border-radius: var(--rounding);
  min-width: var(--sidebar-collapsed-width) !important;
  max-width: var(--sidebar-collapsed-width) !important;
  width: var(--sidebar-collapsed-width) !important;
  transition: all 0.3s ease-in-out;
}

#sidebar-box:not(:hover) {
  min-width: var(--sidebar-collapsed-width) !important;
  max-width: var(--sidebar-collapsed-width) !important;
  width: var(--sidebar-collapsed-width) !important;
}

#sidebar-box:hover {
  color: var(--accent);
  border-color: var(--accent) !important;
  min-width: var(--sidebar-width) !important;
  max-width: var(--sidebar-width) !important;
  width: var(--sidebar-width) !important;
}

#sidebar-box::before {
  content: "tabs";
  background-color: var(--lwt-accent-color);
  color: var(--lwt-text-color);
  position: absolute;
  margin: -12px 12px;
  padding: 0 4px;
  z-index: 9;
  font-size: 1.15em;
}

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  display: none;
}

#appcontent {
  margin-left: calc(var(--sidebar-collapsed-width) + 16px) !important;
}

#sidebar-box:hover + #appcontent {
  margin-left: calc(var(--sidebar-width) + 16px) !important;
}

/* Fullscreen adjustments */
#main-window[inFullscreen] #sidebar-box {
  display: none !important;
}

#main-window[inFullscreen] #appcontent {
  margin-left: 0 !important;
}
